<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="AffixRepairBeansPU" transaction-type="JTA">
    <jta-data-source>jdbc/spyvk</jta-data-source>
    <class>net.elliptica.ling.db.AffixApplication</class>
    <class>net.elliptica.ling.db.ComposedAffixAppl</class>
    <class>net.elliptica.ling.db.Аффикс</class>
    <class>net.elliptica.ling.db.Слово</class>
    <class>net.elliptica.ling.PoSConverter</class>
    <class>net.elliptica.ling.RangeArrConverter</class>
    <class>net.elliptica.ling.FlagsConverter</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.weaving" value="static"/>
    </properties>
  </persistence-unit>
</persistence>
